<nav class="navbar">
  <div class="container">
    <div class="navbar__wrapper">
      <a class="navbar__logo" href="{{ url_for('index') }}">Логотип сайта</a>
      <ul class="navbar__items">
        <li class="navbar__item"><a class="navbar__item-link" href="href="{{ url_for('index') }}">На главную</a></li>
        <li class="navbar__item"><a class="navbar__item-link" href="#">О нас</a></li>
        <li class="navbar__item"><a class="navbar__item-link" href="#">Наши контакты</a></li>
        <li class="navbar__item"><a class="navbar__item-link" href="#">Войти</a></li>
        <li class="navbar__item"><a class="navbar__item-link" href="#">Корзина</a></li>
      </ul>
    </div>
  </div>
</nav>
