<!-- Меню выбора раздела -->
<div class="user__menu-wrapper">
  <h3 class="user__menu-title">Категории</h3>
  <ul class="user__menu-items">
    <li class="user__menu-item">
      <a class="user__menu-item-link" href="{{ url_for('index') }}">Все категории</a>
    </li>
    <li class="user__menu-item">
      <a class="user__menu-item-link" href="{{ url_for('clothes') }}">Одежда</a>
    </li>
    <li class="user__menu-item">
      <a class="user__menu-item-link" href="{{ url_for('shoes') }}">Обувь</a>
    </li>
    <li class="user__menu-item">
      <a class="user__menu-item-link" href="{{ url_for('jackets') }}">Куртки</a>
    </li>
  </ul>
</div>