<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ my_title }}</title>
</head>
<body>
    <div class="wrapper">
    <section class="content">
        <div class="container">
            {% block subcontent %}
            <!-- Flash -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flash__wrapper">
                        {% for message in messages %}
                            <li class="flash__message">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <!-- ======= -->
            {% block content %}
            {% endblock %}
        {% endblock %}
        </div>
    </section>
</body>
</html>
