{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='./styles/rules.css') }}">
{% endblock %}

{% extends 'base.html' %}
{% block content %}
<h1>Страница регистрации пользователя</h1>
<form method="POST" action="{{ url_for('index') }}">
    {{ form.csrf_token }}
    {% for field in form if field.name != 'csrf_token' %}
    <div class="input__area">
        {{ field.label }}<br>
        {{ field }}
        {% if field.errors %}
            <ul class="alert alert-danger">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>
    {% endfor %}
    <div class="input__area-button">
        <input class="input__button" type="submit" value="Зарегистрироваться">
    </div>
</form>
{% endblock %}